[package]
name = "clack-host"
version = "0.1.0"
edition = "2021"

[dependencies]
clap-sys = "0.3.0"
clack-common = { path = "../common" }
libloading = "0.7.2"
selfie = "0.0.2"
stable_deref_trait = "1.2.0"
