[package]
name = "clack-host"
version = "0.1.0"
edition = "2021"
rust-version = "1.59"

[dependencies]
clap-sys = { git = "https://github.com/robbert-vdh/clap-sys.git", branch = "feature/cstr-macro" }
clack-common = { path = "../common" }
libloading = "0.7.2"
selfie = "=0.0.2"
stable_deref_trait = "1.2.0"

[dev-dependencies]
clack-plugin = { path = "../plugin" }
clack-extensions = { path = "../extensions", features = ["clack-host", "latency", "log"] }
clack-test-host = { path = "../test-host" }
nih_plug = { path = "../../nih-plug-miri", features = ["assert_process_allocs"] }