[package]
name = "clack-extensions"
version = "0.1.0"
edition = "2021"
rust-version = "1.59"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clack-plugin = { path = "../plugin", optional = true }
clack-host = { path = "../host", optional = true }
clack-common = { path = "../common" }
clap-sys = "0.3.0"
raw-window-handle = { version = "0.4.2", optional = true }
bitflags = "1.3.2"

[features]
audio-ports = []
audio-ports-config = []
event-registry = []
gui = ["raw-window-handle"]
latency = []
log = []
note-name = []
note-ports = []
params = []
posix-fd = []
render = []
state = []
tail = []
thread-check = []
thread-pool = []
timer = []
